/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Merge igenomes and GENCODE references, then auto-set params
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Merge GENCODE references into params.genomes (GENCODE takes precedence if there are conflicts)
    genomes = (params.genomes ?: [:]) + (params.gencode_refs ?: [:])

    // Priority execution: 
    // (1) if --genome is set, use GENCODE references; 
    // (2) if --genome is not set, check values provided to --local_reference_gtf/--local_reference_fasta, both must be set 
    gtf = params.genomes && params.genome && params.genomes.containsKey(params.genome) ?
        params.genomes[params.genome].gtf :
        params.local_reference_gtf

    fasta = params.genomes && params.genome && params.genomes.containsKey(params.genome) ?
        params.genomes[params.genome].fasta :
        params.local_reference_fasta

    // Auto-detect species ONLY from predefined genome (from gencode_refs)
    // note: if user provides custom local references, they must manually set --species
    species = params.genomes && params.genome && params.genomes.containsKey(params.genome) ?
        (params.genome.startsWith('GRCm') ? 'mouse' : 'human') :
        params.species
}
