/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GENCODE references Config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using GENCODE annotations from gencodegenes.org
----------------------------------------------------------------------------------------
*/

params {
    gencode_refs {
        'GRCh38.p14.v49' {
            release         = 49
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v48' {
            release         = 48
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v47' {
            release         = 47
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v46' {
            release         = 46
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v45' {
            release         = 45
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v44' {
            release         = 44
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.p14.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p13.v43' {
            release         = 43
            genome_build    = 'GRCh38.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/GRCh38.p13.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.primary_assembly.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.transcripts.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh37.p13.v19' {
            release         = 19
            genome_build    = 'GRCh37.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/GRCh37.p13.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.transcripts.fa.gz'
            mito_name       = 'MT'
        }
    }
}
