/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Merge igenomes and GENCODE references, then auto-set params
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Merge GENCODE references into params.genomes (GENCODE takes precedence if there are conflicts)
    genomes = (params.genomes ?: [:]) + (params.gencode_refs ?: [:])

    // Auto-set fasta, gencode_gtf, and gencode_fasta from merged genomes if not already provided
    fasta = params.genomes && params.genome && params.genomes.containsKey(params.genome) ? params.genomes[params.genome].fasta : null
    gencode_gtf = params.genomes && params.genome && params.genomes.containsKey(params.genome) ? params.genomes[params.genome].gtf : null
    gencode_fasta = params.genomes && params.genome && params.genomes.containsKey(params.genome) ? params.genomes[params.genome].fasta : null

    // Auto-detect species ONLY from predefined genome (from gencode_refs)
    // If user provides custom gtf/fasta, they MUST manually set --species
    species = params.genomes && params.genome && params.genomes.containsKey(params.genome) ?
        (params.genome.startsWith('GRCm') ? 'mouse' : 'human') :
        params.species
}
