/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    GENCODE references Config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using GENCODE annotations from gencodegenes.org
----------------------------------------------------------------------------------------
*/

params {
    gencode_refs {
        'GRCh38.p14.v49' {
            release         = 49
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_49/gencode.v49.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v48' {
            release         = 48
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_48/gencode.v48.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v47' {
            release         = 47
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_47/gencode.v47.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v46' {
            release         = 46
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_46/gencode.v46.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v45' {
            release         = 45
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p14.v44' {
            release         = 44
            genome_build    = 'GRCh38.p14'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p13.v43' {
            release         = 43
            genome_build    = 'GRCh38.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p13.v42' {
            release         = 42
            genome_build    = 'GRCh38.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_42/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_42/gencode.v42.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_42/gencode.v42.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_42/gencode.v42.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p13.v41' {
            release         = 41
            genome_build    = 'GRCh38.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_41/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_41/gencode.v41.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_41/gencode.v41.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_41/gencode.v41.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh38.p13.v40' {
            release         = 40
            genome_build    = 'GRCh38.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_40/GRCh38.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_40/gencode.v40.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_40/gencode.v40.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_40/gencode.v40.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCh37.p13.v19' {
            release         = 19
            genome_build    = 'GRCh37.p13'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/GRCh37.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.pc_translations.fa.gz'
            mito_name       = 'MT'
        }
        'GRCm39.vM38' {
            release         = 'M38'
            genome_build    = 'GRCm39'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M38/GRCm39.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M38/gencode.vM38.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M38/gencode.vM38.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M38/gencode.vM38.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCm39.vM37' {
            release         = 'M37'
            genome_build    = 'GRCm39'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M37/GRCm39.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M37/gencode.vM37.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M37/gencode.vM37.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M37/gencode.vM37.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCm39.vM36' {
            release         = 'M36'
            genome_build    = 'GRCm39'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M36/GRCm39.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M36/gencode.vM36.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M36/gencode.vM36.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M36/gencode.vM36.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCm39.vM35' {
            release         = 'M35'
            genome_build    = 'GRCm39'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M35/GRCm39.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M35/gencode.vM35.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M35/gencode.vM35.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M35/gencode.vM35.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
        'GRCm39.vM34' {
            release         = 'M34'
            genome_build    = 'GRCm39'
            fasta           = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M34/GRCm39.primary_assembly.genome.fa.gz'
            gtf             = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M34/gencode.vM34.annotation.gtf.gz'
            transcripts     = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M34/gencode.vM34.transcripts.fa.gz'
            protein_fasta   = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M34/gencode.vM34.pc_translations.fa.gz'
            mito_name       = 'chrM'
        }
    }
}
