/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for LSF HPC cluster (Minerva/NYGC)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process {
    executor       = 'lsf'
    queue          = ''
    clusterOptions = ''
}

executor {
    name              = 'lsf'
    perJobMemLimit    = true
    pollInterval      = '2 min'
    queueStatInterval = '10 min'
    submitRateLimit   = '10/1min'
    exitReadTimeout   = '24h'
    queueSize         = 50
}

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120 min'
    runOptions  = '--disable-cache --userns'
}
