/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for LSF HPC cluster (Minerva/NYGC)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
process {
    // Users can override these defaults via command-line params: --hpc_executor, --hpc_queue, --hpc_cluster_options
    executor       = params.hpc_executor ?: 'lsf'
    queue          = params.hpc_queue ?: ''
    clusterOptions = params.hpc_cluster_options ?: ''
}

executor {
    name              = 'lsf'
    perJobMemLimit    = true
    pollInterval      = '2 min'
    queueStatInterval = '10 min'
    submitRateLimit   = '10/1min'
    exitReadTimeout   = '48h'
    queueSize         = 50
}

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120 min'
    runOptions  = '--disable-cache --userns'
}
