/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'GUNZIP' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PBTK_PBMERGE' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOSEQ/M1_PBTK_PBMERGE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ_CLUSTER' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOSEQ/M2_ISOSEQ_CLUSTER" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ_ALIGN' {
        stageInMode = 'copy'
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOSEQ/M3_ISOSEQ_ALIGN" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ_COLLAPSE' {
        ext.args = '--do-not-collapse-extra-5exons'
        ext.max_fuzzy_junction = params.max_fuzzy_junction
        ext.max_5p_diff = params.max_5p_diff
        ext.max_3p_diff = params.max_3p_diff
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOSEQ/M4_ISOSEQ_COLLAPSE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOCALL_PREP' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOCALL/M1_ISOCALL_PREP" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOCALL_ALIGN' {
        stageInMode = 'copy'
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOCALL/M2_ISOCALL_ALIGN" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOCALL_PROFILE' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOCALL/M3_ISOCALL_PROFILE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOCALL_MERGE' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOCALL/M4_ISOCALL_MERGE" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOCALL_CALL' {
        publishDir = [
            path: { "${params.outdir}/S1_PACBIO_ISOCALL/M5_ISOCALL_CALL" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SQANTI_QC {
        publishDir = [
            path: { "${params.outdir}/S2_TRANSCRIPTOME/M1_SQANTI_QC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GENERATE_HASHIDS {
        publishDir = [
            path: { "${params.outdir}/S2_TRANSCRIPTOME/M2_GENERATE_HASHIDS" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.startsWith('sqanti_transcript/')) {
                    return filename.replaceFirst('sqanti_transcript/', '')
                } else {
                    return filename
                }
            }
        ]
    }

    withName: FILTER_TRANSCRIPTOME {
        ext.protein_coding_filter = params.protein_coding_filter
        ext.internal_priming_filter = params.internal_priming_filter
        ext.template_switching_filter = params.template_switching_filter
        ext.percent_polya_threshold = params.percent_polya_threshold
        ext.transcript_class_keep = params.transcript_class_keep
        publishDir = [
            path: { "${params.outdir}/S2_TRANSCRIPTOME/M3_FILTER_TRANSCRIPTOME" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CPAT_ORF {
        ext.min_orf = params.min_orf
        ext.top_orf = params.top_orf
        publishDir = [
            path: { "${params.outdir}/S3_PREDICTED_PROTEOME/M1_CPAT_ORF" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FILTER_CPAT {
        ext.cpat_coding_threshold = params.cpat_coding_threshold ?: (params.species == 'human' ? 0.364 : 0.44)
        publishDir = [
            path: { "${params.outdir}/S3_PREDICTED_PROTEOME/M2_FILTER_CPAT" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SQANTI_PROTEIN_CLASSIFICATION {
        publishDir = [
            path: { "${params.outdir}/S3_PREDICTED_PROTEOME/M3_SQANTI_PROTEIN_CLASSIFICATION" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PROTEIN_UTR_CLASSIFICATION {
        ext.min_junctions_after_stop = params.min_junctions_after_stop_codon
        ext.protein_class_keep = params.protein_class_keep
        publishDir = [
            path: { "${params.outdir}/S3_PREDICTED_PROTEOME/M4_PROTEIN_UTR_CLASSIFICATION" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.startsWith('protein_sqanti/')) {
                    return filename.replaceFirst('protein_sqanti/', '')
                } else if (filename.startsWith('orf_calling/')) {
                    return filename.replaceFirst('orf_calling/', '')
                } else {
                    return filename
                }
            }
        ]
    }

    withName: LEAFCUTTER_LONGREAD {
        publishDir = [
            path: { "${params.outdir}/S4_MULTISAMPLE_ANALYSIS/M1_LEAFCUTTER_LONGREAD" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: DIFFERENTIAL_EXPRESSION {
        publishDir = [
            path: { "${params.outdir}/S4_MULTISAMPLE_ANALYSIS/M2_DIFFERENTIAL_EXPRESSION" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: MSCONVERT_MZML {
        publishDir = [
            path: { "${params.outdir}/S5_PROTEOMICS/M2_MSCONVERT_MZML" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: METAMORPHEUS {
        publishDir = [
            path: { "${params.outdir}/S5_PROTEOMICS/M3_METAMORPHEUS/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.startsWith('results/')) {
                    return filename.replaceFirst('results/', '')
                } else {
                    return filename
                }
            }
        ]
        containerOptions = '--writable-tmpfs'
    }

    withName: 'BUILD_PROTEOME_REFERENCE' {
        publishDir = [
            path: { "${params.outdir}/S5_PROTEOMICS/M1_BUILD_PROTEOME_REFERENCE/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FRAGPIPE' {
        publishDir = [
            path: { "${params.outdir}/S5_PROTEOMICS/M3_FRAGPIPE/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.startsWith('results/')) {
                    return filename.replaceFirst('results/', '')
                } else {
                    return filename
                }
            }
        ]
        containerOptions = '--writable-tmpfs'
    }

}

