/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UVA Rivanna-specific, SLURM config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    executor       = params.hpc_executor ?: 'slurm'
    queue          = params.hpc_queue ?: 'standard'
    clusterOptions = params.hpc_cluster_options ?: ''

}

executor {
    pollInterval      = '2 min' 
    queueStatInterval = '10 min' 
    submitRateLimit   = '10/1min' 
    exitReadTimeout   = '48h'
}

// Here we set up some defaults for how singularity will be run by Nextflow.
// In general you can leave these as is, but feel free to set up a cache directory for your images!
singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120 min'
    
    // Fix for FUSE mounting issues with Singularity 4.x to use SIF format instead
    runOptions = '--disable-cache --userns'
    cacheDir   = "${projectDir}/work/singularity"
}

