/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Example config file for a SLURM HPC cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // Here we specify slurm as the executor explicitly: for -profile param you will also need to specify 'slurm', see docs
    // Users can override these defaults via command-line params: --hpc_executor, --hpc_queue, --hpc_cluster_options
    executor = params.hpc_executor ?: 'slurm'
    // Queue name should match the name used by your HPC cluster (typically 'cpu', 'gpu', etc.)
    queue = params.hpc_queue ?: 'standard'
    clusterOptions = params.hpc_cluster_options ?: ''

    // Here you may specify custom resource allocations for each module tag. 
    //withLabel:process_single {
    //    cpus   = 1
    //    memory = { 6.GB * task.attempt }
    //    time   = { 4.h  * task.attempt }
    //    queue  = 'cpu'
    //}
    //withLabel:process_low {
    //    cpus   = 2
    //    memory = { 12.GB * task.attempt }
    //    time   = { 4.h   * task.attempt }
    //    queue  = 'cpu'
    //}
    //withLabel:process_medium {
    //    cpus   = 6
    //    memory = { 36.GB * task.attempt }
    //    time   = { 8.h   * task.attempt }
    //    queue  = 'cpu'
    //}
    //withLabel:process_high {
    //    cpus   = 12
    //    memory = { 72.GB * task.attempt }
    //    time   = { 16.h  * task.attempt }
    //    queue  = 'cpu'
    //}
}

executor {
    // How often to check job status
    pollInterval = '2 min' 
    // How often to update queue statistics
    queueStatInterval = '10 min' 
    // Throttle job submissions
    submitRateLimit = '10/1min' 
    // Time to wait for job exit info
    exitReadTimeout = '24h'
}

// Here we set up some defaults for how singularity will be run by Nextflow.
// In general you can leave these as is, but feel free to set up a cache directory for your images!
singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '120 min'
    // Fix for FUSE mounting issues with Singularity 4.x to use SIF format instead
    runOptions = '--disable-cache --userns'
    cacheDir = "${projectDir}/work/singularity"
}

