/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for process SLURM HPC cluster options on ne1
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    executor = 'slurm'
    queue = 'cpu'

    // Clusterwise configuration
    clusterOptions = ''

    withLabel:process_single {
        cpus   = 1
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
        queue  = 'cpu'
    }
    withLabel:process_low {
        cpus   = 2
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
        queue  = 'cpu'
    }
    withLabel:process_medium {
        cpus   = 6
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
        queue  = 'cpu'
    }
    withLabel:process_high {
        cpus   = 12
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
        queue  = 'cpu'
    }
}
//apptainer {
//    apptainer.enabled       = true
//    apptainer.autoMounts    = true
//    apptainer.runOptions    = '--bind /gpfs --no-mount squashfs'
//}

