/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Generic config file for a SLURM HPC cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    // Here we specify slurm as the executor explicitly: for -profile param you will also need to specify 'slurm', see docs
    // Users can override these defaults via command-line params: --hpc_executor, --hpc_cluster_options
    executor = params.hpc_executor ?: 'slurm'
    // Queue name should match the name used by your HPC cluster (typically 'cpu', 'gpu', etc.)
    queue = params.hpc_queue ?: ''
    clusterOptions = params.hpc_cluster_options ?: ''

}

executor {
    // How often to check job status
    pollInterval = '2 min' 
    // How often to update queue statistics
    queueStatInterval = '10 min' 
    // Throttle job submissions
    submitRateLimit = '10/1min' 
    // Time to wait for job exit info
    exitReadTimeout = '48h'
}

// Here we set up some defaults for how singularity will be run by Nextflow.
// In general you can leave these as is, but feel free to set up a cache directory for your images!
singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '120 min'
    // Fix for FUSE mounting issues with Singularity 4.x to use SIF format instead
    runOptions = '--disable-cache --userns'
    cacheDir = "${projectDir}/work/singularity"
}

