/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Usage examples:
        nextflow run sheynkmanlab/lrp2 -profile test_rna,<docker/singularity> --outdir <OUTDIR>
        nextflow run sheynkmanlab/lrp2 -profile test_dda,<docker/singularity> --outdir <OUTDIR>
        nextflow run sheynkmanlab/lrp2 -profile test_dia,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '45.GB',
        time: '2.h'
    ]
}

profiles {
    test_rna {
        params {
            config_profile_name        = 'RNA-only test profile'
            config_profile_description = 'Minimal RNA-only test dataset to check pipeline function'

            input        = "${projectDir}/test_data/run_rna_only/samplesheet_rna_only.csv"
            dataset_name = 'lrptest'
            genome = 'GRCh38.p14.v49'
        }
    }

    test_dda {
        params {
            config_profile_name        = 'RNA + DDA mass spec test profile'
            config_profile_description = 'Test dataset with RNA and DDA mass spectrometry samples'

            input        = "${projectDir}/test_data/run_fragpipe_rna/samplesheet_fragpipe_rna.csv"
            dataset_name = 'lrptest_dda'
            genome = 'GRCh38.p14.v49'
            protein_search = 'fragpipe'
            fragpipe_license_accept = true
        }
    }

    test_dia {
        params {
            config_profile_name        = 'RNA + DIA mass spec test profile'
            config_profile_description = 'Test dataset with RNA and DIA mass spectrometry samples'

            input        = "${projectDir}/sample_data/samplesheet_rna_dia.csv"
            dataset_name = 'lrptest_dia'

            genome = 'GRCh38.p14.v49'
            protein_search = 'fragpipe'
            fragpipe_license_accept = true
        }
    }
}
